<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      CARRINHO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>

    <ion-row>
      <ion-col size="6" *ngFor="let item of items">
        <ion-card>
          <img [src]="item.imagem">
          <ion-card-content>
            <p><strong>{{ item.nome }}</strong></p>
            <p class="ion-text-right"><ion-badge color="success">R${{ item.preco }}</ion-badge></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
